/* Global background */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}
body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #007bff;


  /* Blue gradient background */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* App container with sidebar on the right */
.app-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

